<!DOCTYPE html>
<html>
<head>
    <title>Compel-O-Meter</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
    <div class="loading-overlay" id="loadingOverlay">
        <div class="loading-spinner"></div>
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("form");
        const loadingOverlay = document.getElementById("loadingOverlay");

        form.addEventListener("submit", function () {
            loadingOverlay.style.display = "block"; // Show loading overlay
        });

        // Hide loading overlay when results page is loaded
        window.addEventListener("load", function () {
            loadingOverlay.style.display = "none"; // Hide loading overlay
        });
    });
    </script>
    <div id="launched"></div>
    <div id="line"></div>
    <div id="line2"></div>
    <div class="container">
        <p>To get started, enter the text you wish to analyze below!</p>
        <form action="{{ url_for('submit') }}" method="POST">
            <textarea id="text" name="text" placeholder="Enter the text you wish to analyze :)" required></textarea>
            <input type="submit" value="Analyze!">
        </form>
    </div>
    <div id="line2"></div>
    <div id="line"></div>
    <div id="line3"></div>
    <div id="line2"></div>
</body>
</html>
